In [1]:
import pandas as pd
import tensorflow as tf

In [14]:
#1, 데이터 준비
boston = pd.read_csv('boston.csv')

output = boston[['medv']]
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [15]:
input = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
print(input.shape, output.shape)

(506, 13) (506, 1)

In [16]:
#모델 구조
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X,Y)
model.compile(loss = 'mse')

In [17]:
#모델 학습(FIT)
model.fit(input, output, epochs=1000, verbose=0)
model.fit(input, output, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 663us/step - loss: 26.3424
Epoch 2/10
16/16 [==============================] - 0s 581us/step - loss: 25.8962
Epoch 3/10
16/16 [==============================] - 0s 864us/step - loss: 25.4163
Epoch 4/10
16/16 [==============================] - 0s 997us/step - loss: 26.2443
Epoch 5/10
16/16 [==============================] - 0s 997us/step - loss: 25.9396
Epoch 6/10
16/16 [==============================] - 0s 865us/step - loss: 25.4721
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 26.5244
Epoch 8/10
16/16 [==============================] - 0s 864us/step - loss: 26.1163
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 25.8950
Epoch 10/10
16/16 [==============================] - 0s 798us/step - loss: 26.3849

In [21]:
#모델 이용
print("Predictions: ", model.predict(input[5:10]))

Predictions:  [[26.471615]
 [21.520432]
 [18.435457]
 [ 9.817442]
 [18.047747]]

In [20]:
output[5:10]

   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [22]:
#모델의 수식 확인
model.get_weights()

[array([[-0.08923318],
        [ 0.07091425],
        [-0.0519317 ],
        [ 3.3419838 ],
        [ 1.7423961 ],
        [ 4.0970607 ],
        [ 0.01457715],
        [-0.86905634],
        [ 0.14972894],
        [-0.00877188],
        [-0.02876644],
        [ 0.01615293],
        [-0.5725556 ]], dtype=float32),
 array([2.5110135], dtype=float32)]