In [1]:
import tensorflow as tf
import pandas as pd

In [7]:
#1. 과거의 데이터를 준비
file = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
lemonade = pd.read_csv(file)
lemonade.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [6]:
Temp = lemonade[['온도']]
Sale = lemonade[['판매량']]
print(X.shape, Y.shape)

(6, 1) (6, 1)

In [9]:
#2. 모델의 구조를 만듬
X = tf.keras.layers.Input(shape=[1]) #독립변수(온도)가 1개
Y = tf.keras.layers.Dense(1)(X) #종속변수(판매량)가 1개
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [15]:
#3. 데이터로 모델을 학습(FIT)
model.fit(Temp, Sale, epochs=10000, verbose=0) #model.fit(독립변수, 종속변수, epochs=1000), epochs->반복 횟수
#verbose=0 -> 과정 출력을 생략함
model.fit(Temp, Sale, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 3ms/step - loss: 1.3869e-04
Epoch 2/10
1/1 [==============================] - 0s 2ms/step - loss: 1.3876e-04
Epoch 3/10
1/1 [==============================] - 0s 998us/step - loss: 1.3872e-04
Epoch 4/10
1/1 [==============================] - 0s 997us/step - loss: 1.3870e-04
Epoch 5/10
1/1 [==============================] - 0s 3ms/step - loss: 1.3872e-04
Epoch 6/10
1/1 [==============================] - 0s 2ms/step - loss: 1.3876e-04
Epoch 7/10
1/1 [==============================] - 0s 2ms/step - loss: 1.3885e-04
Epoch 8/10
1/1 [==============================] - 0s 4ms/step - loss: 1.3898e-04
Epoch 9/10
1/1 [==============================] - 0s 3ms/step - loss: 1.3910e-04
Epoch 10/10
1/1 [==============================] - 0s 4ms/step - loss: 1.3906e-04

In [16]:
#4. 모델을 이용
print("Predictions: ", model.predict([[15]]))

Predictions:  [[30.008446]]

In [17]:
model.predict(Temp)

array([[40.01066 ],
       [42.0111  ],
       [44.011543],
       [46.011986],
       [48.012432],
       [50.012875]], dtype=float32)

In [19]:
Sale

   판매량
0   40
1   42
2   44
3   46
4   48
5   50